#dat_monkey_doe {
  width: 75px;
  height: auto;

}

#navigation {
 padding-bottom: 20px;
}
#myCarousel {
  padding-top: 100px;
}

.navbar-header {
    text-align: center;
    padding-top: 25px;
}

.carousel-caption {
  background: rgba(0,0,0,0.4);
  padding-bottom: 20px;
  padding-top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-indicators {
  color: black;
  bottom: 0;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
  border-color: black;
}

#tabs {
  padding-top: 80px;
}

.nav-pills a {
  color: green;
}
#workpic {
  width: 100%;
  height: auto;
  float: right;
  border: solid black 1px;
}

#work_body {
  background-color: #999999;
}
footer {
  bottom: 0;
  text-align: center;
}

#carousel_image {
  height: 550px;
  width: 100%;
}

.about_me {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-style: italic;
  font-family: serif;
}

#about_body {
  background-image: url(http://vignette2.wikia.nocookie.net/youtaites/images/a/a9/Background-radial-gradient-dark.jpg/revision/latest?cb=20150214024058);
}

#about_me_row {
  text-align: center;
  list-style: inside;
}
#about_body h2 {
  padding-top: 55px;
  text-align: center;
  font-family: cursive;
}

#code_image {
  height: 200px;
  width: 100%;
}
